.DS_Store
.vscode/*

# ignore executed files but keep the scripts
EXEC/HOME/*
!EXEC/HOME/*.sh
EXEC/LUNAR/*
!EXEC/LUNAR/*.sh

# ignore the local files
Local/*

# too big to upload
DATA/IN/poland.tif
DATA/OUT/shaded_poland.tif

# ignore time files
*.time